<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("layout/header")  %>
    <main>
        <form action="/" method="post">
            <input type="text" placeholder="Enter a name of programming language" name="plName">
            <button type="submit">Submit</button>
        </form>
        <ul>
            <% if (plName.length > 0){ %>
                
                <% for(let i=0; i<plName.length; i++){ %>
                    <li><%= plName[i] %></li>
                <% } %>

            <% }else{ %>
                <p>no data available</p>
            <% } %>
        </ul>
    </main>
    <%- include("layout/footer") %>
</body>
</html>